@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

@keyframes rotateImage {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px;
  height: 680px;
  background: url('/images/hero-bg.jpg') center center/cover no-repeat;
  animation: rotateImage 20s linear infinite;
  transform: translate(-50%, -50%);
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.dayoff {
  color: #9da4bd;
  background: repeating-linear-gradient(
    45deg,
    rgb(230, 230, 230) 0px,
    rgb(230, 230, 230) 2px,
    rgb(202, 202, 202) 6px,
    rgb(202, 202, 202) 2px
  );
}
